
</body>

<footer>
  <p>**Note : Checkboxes are non functional on home page. Go to Your Personal ToDoList.</p>
  <p>Made by Srikar.</p> 
  <p>Using CSS, JS, Node.js, Express, EJS, MongoDB, Atlas</p> 
</footer>

</html>
